.head-container{
    background-color: #FF900E1A;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.menu p{
    font-family:"Work Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    color:#131313FF ;
}
.list-container{
    display: flex;
    
}
.list-container li {
   list-style-type: none;
  
}
.list-container li a{
    text-decoration: none;
    padding: 14px 16px;
    font-family:"Work Sans", sans-serif;
   font-size: 18px;
   font-weight:500px;
   color:#424242FF;
}
.group-container{
  justify-content: center;
  display:flex;
  align-items: center;
  text-align: center;
  
}
.group-container-brand h3{
    font-family:"Work Sans", sans-serif;
    font-size: 64px;
    font-weight:bold ;
    color: #131313FF;
}
.group-container-brand p{
    font-family:"Work Sans", sans-serif;
    font-size: 16px;
    color:#727272FF;
    margin-bottom: 50px;
}
.group-container-brand button{
    background-color: #FF900EFF;
    padding: 15px 25px ;
    border: none;
    border-radius:10px ;
    font-family:"Work Sans", sans-serif;
    font-size:20px;
    font-weight:600px;
    color: white;
}
.banner{
    width: 90%;
    display: block;
    margin: auto;
    padding: 50px 0px;
}
.image-container{
    display: grid;
   grid-template-columns: repeat(2, 1fr)  ;
    gap: 20px;
    margin-top: 50px;
    
    
    
}   
.image-container img{
    width: 100%;
  
}
.features-container{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: left;
   gap: 50px;
   width: 90%;
   margin: auto;
}
.features-text h3{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: 500px;
}
.features-text-quick{
    color:#727272FF ;
}
.features-text-of{
    color: #131313FF ;
}
.features-text-orange{
    color:#FF900EFF ;
}
.features-text p{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color:#727272FF ;
}
.features-text button{
    background-color: #FF900EFF;
    padding: 15px 25px ;
    border: none;
    border-radius:10px ;
    font-family:"Work Sans", sans-serif;
    font-size:20px;
    font-weight:600px;
    color: white;
}
.love-container{
    display: grid;
    grid-template-columns: 45% 45%;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    gap: 90px;
    margin-bottom: 50px;
}
.love-enjoy-container{
    width: 100%;
}
.love-enjoy{
    margin-bottom: 50px;
}
.love-enjoy h3{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    color:#131313FF ;
}
.love-enjoy p{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: #727272FF;
}
.dextop-container {
    background-color: white; 
    box-shadow: 5px 5px 5px 6px rgb(202, 197, 197);
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;   
}
.dextop-container h3{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#131313FF ;
}
.dextop-container p{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color:#727272FF ;
}
.darg-container{
    background-color: white; 
    box-shadow: 5px 5px 5px 6px rgb(202, 197, 197);
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
.darg-container h3{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#131313FF ;
}
.darg-container p{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color:#727272FF ;
}
.Awesome-container{
    background-color: white;
    box-shadow: 5px 5px 5px 6px rgb(202, 197, 197);
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
.Awesome-container h3{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600px;
    color: #131313FF;
}
.Awesome-container p{
    font-family: "Work Sans", sans-serif;
    font-size:16px ;
    color:#727272FF ;
}
.super-container{
    background-color: white;
    box-shadow: 5px 5px 5px 6px rgb(202, 197, 197);
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
.super-container h3{
    font-family: "Work Sans", sans-serif;
    font-size:20px;
    font-weight: 600px;
    color:#131313FF ;
}
.super-container p{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color:#727272FF ;
}
.architect{
    padding: 50px 0;
}
.architect img{
    height: 100%;
    width: 100%;
}
.year{
    background-color: #FF900EFF;
    text-align: center;
    border-radius: 8px;
    width: 50%;
   padding: 22px 5px;
   transform: translate(-60px,-110px);
   
   
}
.year h2{
    font-family: "Work Sans", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}
.year p{
    font-family: "Work Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}
.fact-container{
    width: 90%;
    margin: auto;
}
.fact-container h3{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    color:#131313 ;
}
.fact-container p{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color:#727272 ;
}
.some-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.awards{
    padding: 20px 10px;
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 8px;
 }
 .awards h3{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.awards p{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#727272 ;
}
.project{
    
    padding: 20px 10px;
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 8px;
}
.project h3{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.project p{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#727272 ;
}
.client{
     padding: 20px 10px;
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 8px;
}
.client h3{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.client P{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#727272 ;
}
.email{
    
    padding: 20px 10px;
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 8px;
}
.email h3{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.email p{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#727272 ;
}
.our-sponspore-container{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}


.our-sponspore-container h3{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    color:#131313 ;
}
.our-sponspore-container p{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color:#727272 ;

}
.sponsor-image img{
    display: block; 
}
.sponsor-image{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer{
    background-color: #FFF4E7; 
    padding: 10px 0px;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    color: #424242;
  
   
    
}
